<form>

<div class="container-fluid table-responsive">
  <h2>Sign-up (Confirm) </h2>

  <table class="table table-bordered">

    <tbody>
      <tr>
        <th class="table-active">DC-Id</th>
        <td colspan="3"> 1009 </td>
      </tr>
      <tr>
        <th class="table-active">Mobile-Number</th>
        <td colspan="3">29373275</td>
      </tr>
      <tr>
        <th class="table-active">Email Id</th>
        <td colspan="3">a@gmail.com</td>
      </tr>
      <tr>
        <th class="table-active">Main Person</th>
        <td colspan="3">name</td>
      </tr>

      <tr>
        <th class="table-active">Location</th>
        <td>Mumbai</td>
        <th class="table-active">Country</th>
        <td>India</td>
      </tr>

      <tr>
        <th class="table-active">Industry</th>
        <td>Fintech</td>
        <th class="table-active">Segment</th>
        <td>Payments</td>
      </tr>

      <tr>
        <th class="table-active">Start</th>
        <td>2018 | March</td>
        <th class="table-active">#Promoters</th>
        <td>2</td>
      </tr>

      <tr>
        <th class="table-active">Total Funding(Cr)</th>
        <td>Mumbai</td>
        <th class="table-active">Monthly Burn(Cr)</th>
        <td>India</td>
      </tr>
    </tbody>
  </table>

  <b>
<p> 1) "Confirm" creates your "FREE" Listing. "Pain" members can contact you. </p>
<p> 2) Complete Other Details to enhance reach.</p>
<p> 3) "Purchase" credits to contact others. </p>
</b>

<div class="container" align="right" style="margin-bottom: 20px;">
  <div class="row">
      <div class="col-md-12 bg-light text-right">
          <button type="button" class="btn btn-primary">Confirm</button>
          <button type="button" class="btn btn-warning"style="margin-left: 20px;">Edit</button>
      </div>
  </div>
</div>

</div>

</form>
